* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.contenedor-grande {
    background-color: bisque;
}

.contenedor-lista {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.list-item {
    font-size: 20px;
}


@media screen and (max-width: 1024px) {
    body {
        background-color: red;
    }

    .contenedor-lista {
        background-color: blue;
    }

    .list {
        flex-direction: column;
    }

    .list-item {
        color: grey;
    }
}

@media screen and (max-width: 550px) {

    body {
        background-color: cadetblue;
    }

    .contenedor-lista {
        background-color: coral;
    }

    .list {
        flex-direction: column;
    }

    .list-item {
        color: white;
    }
}